
/.idea
.env
/auth/__pycache__
/pFIONA_ui/__pycache__
pFIONA_ui/__pycache__/settings.cpython-311.pyc
/pFIONA_auth/__pycache__
/pFIONA_auth/migrations/__pycache__
/theme/__pycache__
/theme/__pycache__
/pFIONA_sensors/__pycache__
/pFIONA_sensors/migrations/__pycache__
/pFIONA_sensors/node_modules
/pFIONA_api/__pycache__
/pFIONA_api/migrations/__pycache__
/pFIONA_sensors/templatetags/__pycache__
/theme/__pycache__
