{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors List - pFIONA</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex min-h-screen">
        {% include "./menu/sensors_list_menu_bar.html" %}
        <div class="bg-custom-gray-2 w-5/6 p-12">
            <div>
                <div>
                    <div class="bg-custom-gray-1 text-gray-700 text-sm rounded-lg mb-6 flex shadow-lg font-poppins px-7 py-3">
                        <p class="w-4/12">Name</p>
                        <p class="w-1/12">ID</p>
                        <p class="w-2/12">IP</p>
                        <p class="w-3/12">Status</p>
                        <p class="w-2/12"></p>
                    </div>
                </div>
                {% if sensors_list %}
                    {% for sensor in sensors_list %}
                        <div class="bg-white text-gray-700 rounded-lg my-6 flex shadow-lg font-poppins px-7 py-5">
                            <p class="w-4/12">{{ sensor.name }}</p>
                            <p class="w-1/12">{{ sensor.id }}</p>
                            <p class="w-2/12">{{ sensor.ip_address }}</p>
                            <div class="w-3/12" id="status_app" data-ip="{{ sensor.ip_address }}"></div>
                            <p class="w-2/12 pl-2"><a href="{% url 'sensors_data' sensor_id=sensor.id %}" class="bg-blue-600 py-1 px-8 rounded-lg text-sm text-white font-poppins hover:bg-blue-400">View</a></p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="bg-white text-red-700 rounded-lg my-6 flex shadow-lg font-poppins px-7 py-5">
                        <p>No sensors in database</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        const sensor_port = "5000"
    </script>
    <script src="{% static "pFIONA_sensors/main.js" %}"></script>
</body>
</html>