{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors List - pFIONA</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex min-h-screen">
        {% include "../components/sensors_menu_bar.html" %}
        <div class="bg-custom-gray-2 w-5/6 p-12">
            <p>Hello World !</p>
                <div id="main">
                    <div id="app"></div>
                </div>
        </div>
    </div>
    <script src="{% static "pFIONA_sensors/main.js" %}"></script>
</body>
</html>