{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deploy mode - pFIONA</title>
    {% tailwind_css %}
    <style>
        .remove-arrow::-webkit-inner-spin-button,
        .remove-arrow::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .remove-arrow {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
    <div class="flex min-h-screen">
        {% include "../components/sensors_menu_bar.html" %}
        <div class="bg-custom-gray-2 w-5/6 p-12">
             <div id="main">
                 <div id="deploy_app" data-ip='{{ ip_address }}'></div>
             </div>
        </div>
    </div>
    <script>
        let sensor_ip = "{{ ip_address }}";
        let sensor_id = {{ id }};
    </script>
    <script src="{% static "pFIONA_sensors/main.js" %}"></script>
</body>
</html>