{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Reaction - pFIONA</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">
        <style>
        .remove-arrow::-webkit-inner-spin-button,
        .remove-arrow::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .remove-arrow {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body>
    <div class="flex min-h-screen">
        <div class="bg-custom-gray-1 w-1/6 h-dvh flex flex-col justify-between">
            <div class="font-poppins font-black flex text-4xl mb-16 ml-10 mt-16">
            <a href="{% url 'sensors_reagents' sensor_id=id %}" class="pr-7">&lt;</a>
            <h1>Add</h1>
        </div>
        </div>
        <div class="bg-custom-gray-2 w-5/6 p-12">
            <div id="main">
                <div id="reaction_add_app"></div>
            </div>
        </div>
    </div>
    <script>
        let reagents_json = JSON.parse('{{ reagents_json|safe }}');
    </script>
    <script src="{% static "pFIONA_sensors/main.js" %}"></script>
</body>
</html>