{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Reagent - pFIONA</title>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/dist/custom.css' %}">
</head>
<body>
    <div class="flex min-h-screen">
        <div class="bg-custom-gray-1 w-1/6 h-dvh flex flex-col justify-between">
            <div class="font-poppins font-black flex text-4xl mb-16 ml-10 mt-16">
            <a href="{% url 'sensors_reagents' sensor_id=id %}" class="pr-7">&lt;</a>
            <h1>Edit</h1>
        </div>
        </div>
        <div class="bg-custom-gray-2 w-5/6 p-12">
            <div>
                <div class="mb-5">
                    <h2 class="font-poppins font-bold text-gray-500 text-sm">REAGENT</h2>
                </div>
                <div class="bg-white shadow-lg rounded-2xl py-5 px-8">
                    <form method="post">
                        {% csrf_token %}
                        {% include "pFIONA_sensors/form/basic_form.html" with form=reagent_form %}
                        <button name="submit_reagent" type="submit" class="bg-lime-500 text-white font-poppins px-8 py-2 rounded-md hover:bg-lime-300 font-bold">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>