{% load static %}
<div class="bg-custom-gray-1 w-1/6 flex flex-col justify-between">
        <div class="flex flex-col">
            <div class="font-poppins font-black flex text-4xl mb-16 ml-10 mt-16">
                 <a href="{% url 'sensors_list' %}" class="pr-7"><</a>
                 <h1>XXXXX</h1>
             </div>
            <div>
                <ul>
                    {% load url_tools %}
                    <!-- MANUAL MODE -->
                    {% if request|is_sensor_manual_path %}
                        <li class="bg-custom-gray-2 border-l-8 border-blue-600 pl-8 py-5">
                            <a class="flex" href="{% url 'sensors_manual' id=id %}">
                                <img src="{% static 'img/ico/icons8-joystick-96.svg'%}" alt="icons-list" style="filter: invert(27%) sepia(99%) saturate(1791%) hue-rotate(214deg) brightness(94%) contrast(96%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium">Manual Mode</p>
                            </a>
                        </li>
                    {% else %}
                        <li class="pl-10 py-5">
                            <a class="flex" href="{% url 'sensors_manual' id=id %}">
                                <img src="{% static 'img/ico/icons8-joystick-96.svg'%}" alt="icons-list" style="filter: invert(20%) sepia(7%) saturate(2126%) hue-rotate(178deg) brightness(98%) contrast(84%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium text-gray-700">Manual Mode</p>
                            </a>
                        </li>
                    {% endif %}
                    <!-- DEPLOY MODE -->
                    {% if request|is_sensor_deploy_path %}
                        <li class="bg-custom-gray-2 border-l-8 border-blue-600 pl-8 py-5">
                            <a class="flex" href="{% url 'sensors_deploy' id=id %}">
                                <img src="{% static 'img/ico/icons8-ocean-wave-64.svg'%}" alt="icons-list" style="filter: invert(27%) sepia(99%) saturate(1791%) hue-rotate(214deg) brightness(94%) contrast(96%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium">Deploy Mode</p>
                            </a>
                        </li>
                    {% else %}
                        <li class="pl-10 py-5">
                            <a class="flex" href="{% url 'sensors_deploy' id=id %}">
                                <img src="{% static 'img/ico/icons8-ocean-wave-64.svg'%}" alt="icons-list" style="filter: invert(20%) sepia(7%) saturate(2126%) hue-rotate(178deg) brightness(98%) contrast(84%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium text-gray-700">Deploy Mode</p>
                            </a>
                        </li>
                    {% endif %}
                    <!-- DATA MODE -->
                    {% if request|is_sensor_data_path %}
                        <li class="bg-custom-gray-2 border-l-8 border-blue-600 pl-8 py-5">
                            <a class="flex" href="{% url 'sensors_data' id=id %}">
                                <img src="{% static 'img/ico/icons8-bell-curve-100.svg'%}" alt="icons-list" style="filter: invert(27%) sepia(99%) saturate(1791%) hue-rotate(214deg) brightness(94%) contrast(96%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium">Data</p>
                            </a>
                        </li>
                    {% else %}
                        <li class="pl-10 py-5">
                            <a class="flex" href="{% url 'sensors_data' id=id %}">
                                <img src="{% static 'img/ico/icons8-bell-curve-100.svg'%}" alt="icons-list" style="filter: invert(20%) sepia(7%) saturate(2126%) hue-rotate(178deg) brightness(98%) contrast(84%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium text-gray-700">Data</p>
                            </a>
                        </li>
                    {% endif %}
                    <!-- SETTINGS MODE -->
                    {% if request|is_sensor_settings_path %}
                        <li class="bg-custom-gray-2 border-l-8 border-blue-600 pl-8 py-5">
                            <a class="flex" href="{% url 'sensors_settings' id=id %}">
                                <img src="{% static 'img/ico/icons8-settings-512.svg'%}" alt="icons-list" style="filter: invert(27%) sepia(99%) saturate(1791%) hue-rotate(214deg) brightness(94%) contrast(96%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium">Settings</p>
                            </a>
                        </li>
                    {% else %}
                        <li class="pl-10 py-5">
                            <a class="flex" href="{% url 'sensors_settings' id=id %}">
                                <img src="{% static 'img/ico/icons8-settings-512.svg'%}" alt="icons-list" style="filter: invert(20%) sepia(7%) saturate(2126%) hue-rotate(178deg) brightness(98%) contrast(84%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium text-gray-700">Settings</p>
                            </a>
                        </li>
                    {% endif %}
                    <!-- REAGENTS -->
                    {% if request|is_sensor_reagents_path %}
                        <li class="bg-custom-gray-2 border-l-8 border-blue-600 pl-8 py-5">
                            <a class="flex" href="{% url 'sensors_reagents' id=id %}">
                                <img src="{% static 'img/ico/icons8-experiment-100.svg'%}" alt="icons-list" style="filter: invert(27%) sepia(99%) saturate(1791%) hue-rotate(214deg) brightness(94%) contrast(96%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium">Reagents & Valve</p>
                            </a>
                        </li>
                    {% else %}
                        <li class="pl-10 py-5">
                            <a class="flex" href="{% url 'sensors_reagents' id=id %}">
                                <img src="{% static 'img/ico/icons8-experiment-100.svg'%}" alt="icons-list" style="filter: invert(20%) sepia(7%) saturate(2126%) hue-rotate(178deg) brightness(98%) contrast(84%);" class="w-6"/>
                                <p class="font-poppins content-around pl-4 font-medium text-gray-700">Reagents & Valve</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <p><strong>Access Token:</strong> {{ access_token }}</p>
            <div class="pl-10 pt-12 text-gray-700 w-full font-montserrat" id="status_app" data-ip="{{ ip_address }}" data-access-token="{{ access_token }}"></div>
        </div>
</div>
