<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p class="text-center"></p>
        <p class="pb-1"></p>
        <p class="pb-2 bg-green-600"></p>
        <p class="pb-3 space-x-2"></p>
        <p class="pb-4 space-x-8"></p>
        <p class="pb-5 space-x-10 border border-2 border-custom-gray-2"></p>
        <p class="pb-6 border-custom-gray-1"></p>
        <p class="mt-5 bg-custom-gray-2"></p>
        <p class="m2-5 w-6 py-7"></p>
        <p class="flex flex-row-reverse h-full"></p>
        <p class="ml-2 w-full bg-green-600 pr-5"></p>
        <p class="ml-3 w-1/12 space-x-2"></p>
        <p class="mb-1 mt-5 flex-wrap"></p>
        <p class="mb-2 text-red-600"></p>
        <p class="font-montserrat font-medium text-gray-600 pb-2 pt-2 pl-5"></p>
        <p class="mb-3 px-5 pr-4"></p>
        <p class="bg-gray-200"></p>
        <p class="w-2/12 pl-5 pb-2 pt-2 mr-4"></p>
        <p class="w-9/12"></p>
        <p class="w-10/12"></p>
        <p class="w-5/12 text-lime-500"></p>
        <p class="font-montserrat font-medium pt-8 pb-2 text-left"></p>
        <p class="font-bold"></p>
        <p class="space-y-3"></p>
        <p class="space-y-4"></p>
        <p class="space-y-10"></p>
        <p class="font-black w-12/12"></p>
        <p class="bg-red-600 w-5 h-5 rounded-full items-center"></p>
        <p class="mb-2"></p>
        <p class="px-6 py-2 rounded-full bg-blue-500 text-white font-medium transition duration-300 ease-in-out hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50"></p>
        <p class="absolute top-1 left-1 w-22 h-10 rounded-full shadow-md transform transition duration-300 ease-in-out"></p>
        <p class="relative w-48 h-12 bg-gray-300 rounded-full p-1"></p>
        <p class="absolute left-5 top-2.5 text-white font-semibold"></p>
        <p class="absolute right-5 top-2.5 text-white font-semibold hidden"></p>
        <p class="translate-x-0 bg-purple-500"></p>
        <p class="translate-x-24 bg-purple-700"></p>
        <p class="absolute w-1/2 h-full left-0 bg-white rounded-full transition-all duration-300 peer-checked:left-1/2"></p>
        <p class="p-1.5 text-center transition-colors duration-300 z-10"></p>
        <p class="p-1.5 text-center transition-colors duration-300 z-10 text-white"></p>
        <p class="absolute w-1/2 h-full left-0 bg-white rounded-full transition-all duration-300"></p>
        <p class="flex items-center justify-center h-screen"></p>
        <p class="relative grid grid-cols-2 w-40 h-10 border-4 border-gray-800 rounded-full bg-gray-800 font-bold text-gray-800 cursor-pointer peer-focus:outline-none"></p>
        <p class="p-2 text-center transition-colors duration-300 z-10 text-white peer-checked:text-gray-800"></p>
        <p class="text-sm text-gray-500 ms-3 dark:text-neutral-400"></p>
        <p class="relative w-[3.25rem] h-7 p-px bg-gray-100 border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:ring-blue-600 disabled:opacity-50 disabled:pointer-events-none checked:bg-none checked:text-blue-600 checked:border-blue-600 focus:checked:border-blue-600 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-600 before:inline-block before:size-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-neutral-400 dark:checked:before:bg-blue-200"></p>
        <div class="flex items-center">
        <label for="hs-basic-with-description"></label><input type="checkbox" id="hs-basic-with-description" class="relative w-[6.5rem] h-7 p-px bg-gray-100 border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:ring-blue-600 disabled:opacity-50 disabled:pointer-events-none checked:bg-none checked:text-blue-600 checked:border-blue-600 focus:checked:border-blue-600 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-600 before:inline-block before:size-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:rounded-full before:shadow before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-neutral-400 dark:checked:before:bg-blue-200"/>
        <div class="checked:before:translate-x-[4.7rem]"></div>
        <p class="h-5 relative w-[6.5rem] p-px bg-teal-500 border-transparent text-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:ring-purple-600 disabled:opacity-50 disabled:pointer-events-none checked:bg-none checked:text-purple-600 checked:border-purple-600 focus:checked:border-purple-600 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-teal-200 before:inline-block before:size-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-[4.7rem] before:rounded-full before:shadow before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-neutral-400 dark:checked:before:bg-blue-200"></p></p>
        <p class="h-max"></p>
        <p class="pb-12 bg-purple-600 before:bg-teal-200"></p>
        <p class="bg-teal-500 dark:focus:ring-offset-teal-200"></p>
</div>

    </body>
</html>