{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors List - pFIONA</title>
    {% tailwind_css %}
</head>
<body>
    <div class="flex">
        <div class="w-1/6 h-[100vh] bg-custom-gray-1">
             <div class="font-poppins font-black flex text-4xl mb-16 ml-10 mt-16">
                 <a href="{% url 'sensors_list' %}" class="pr-7"><</a>
                 <h1>Add</h1>
             </div>
        </div>
        <div class="bg-custom-gray-2 w-5/6 p-12">
            <div>
                <div class="mb-5">
                    <h2 class="font-poppins font-bold text-gray-500 text-sm">ADD SENSOR</h2>
                </div>
                <div class="bg-white shadow-lg rounded-2xl py-5 px-8">
                    <form method="post">
                        {% csrf_token %}
                        {% include "pFIONA_sensors/form/sensor_add_form.html" with form=form %}
                        <button type="submit" class="bg-lime-500 text-white font-poppins px-8 py-2 rounded-md hover:bg-lime-300 font-bold">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>